*{
  box-sizing: border-box;
}

@font-face {
  font-family: PokeSolid;
  src: url('fonts/Pokemon\ Solid.ttf');
}


html{
  margin: 0;
}

body{
  overflow-x: hidden;
  margin: 0;
}

.container{
  padding-left: 50px;
  padding-right: 50px;
}

header{
  margin: 0;
  width: 100vw;
  height: 100px;
  background-image: url('assets/tl.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px solid rgb(114, 114, 114);

}

h1{
  margin: 0;
  font-family: PokeSolid;
  color: #076CAE;
  font-size: 26px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ffffff;
}

input{
  border: none;
  outline: none;
  padding: 4px 13px;
  border-radius: 7px;
  font-family: PokeSolid;
  font-size: 15px;
  width: 300px;
}

button{
  background-color: #076CAE;
  color: #fff;
  border: none;
  outline: none;
  padding: 4px 13px;
  border-radius: 7px;
  font-family: PokeSolid;
  font-size: 15px;
}

main:before{
  background-image: url('assets/lt.png');
  background-repeat: repeat;
  background-size: 30%;
  background-attachment: fixed;
  background-position: 0 10%;
  opacity: 0.39;
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 140vh;
  z-index: -1;
}

.type-text{
  text-align: center;
}

.poke-img{
  width: 100px;
}

.box-card{
  width: 250px;
  border-radius: 18px;
  padding-top: 4px;
}

.box-card h2{
  text-align: center;
  color: rgb(255, 255, 255);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(29, 29, 29);
  font-family: PokeSolid;
  font-size: 16px;
  letter-spacing: 3px;
}

.box-card.type-normal{
  background-image: linear-gradient(45deg, #7F7746, #E6DFA6, #7F7746);
}



.box-img{
  height: 140px;
  width: 140px;
  background-color: rgb(255, 238, 195);
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.box-types{
  margin-top: 13px;
  margin-left: 6px;
}

.box-footer .pesoAltura{
  margin-left: 6px;
}

p{
  color: rgb(255, 255, 255);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(29, 29, 29);
  font-family: PokeSolid;
  font-size: 14px;
  letter-spacing: 3px;
}


.box-card.type-normal{
  background-image: linear-gradient(45deg, #e2e2e2, #E4DDA4, #e4e4e4);
}

.box-card.type-fire{
  background-image: linear-gradient(45deg, #e61414, #fca420, #e61414);
}

.box-card.type-dragon{
  background-image: linear-gradient(45deg, #6d549d, #393e9f, #6d549d);
}

.box-card.type-bug{
  background-image: linear-gradient(45deg, #92A018, #76820c, #92A018);
}

.box-card.type-steel{
  background-image: linear-gradient(45deg, #808080, #c1cdce, #808080);
}

.box-card.type-dark{
  background-image: linear-gradient(45deg, #261f34, #000000, #261f34);
}

.box-card.type-water{
  background-image: linear-gradient(45deg, #00b3ff63, #00b3ff, #00b3ff63);
}

.box-card.type-psychic{
  background-image: linear-gradient(45deg, #FDE382, #EA8A8B, #FDE382);
}

.box-card.type-ghost{
  background-image: linear-gradient(45deg, #2a115959, #323251, #2a115959);
}

.box-card.type-electric{
  background-image: linear-gradient(45deg, #ffea00, #fff58b, #ffea00);
}

.box-card.type-fairy{
  background-image: linear-gradient(45deg, #ea00ffa9, #cb26dab3, #ea00ffa9);
}


.box-card.type-fighting{
  background-image: linear-gradient(45deg, #c22750, #5e0e1f, #c22750);
}


.box-card.type-flying{
  background-image: linear-gradient(45deg, #b181c1, #778adb, #b181c1);
}

.box-card.type-grass{
  background-image: linear-gradient(45deg, #4ad300, #76e97d, #4ad300);
}

.box-card.type-ice{
  background-image: linear-gradient(45deg, #00b3ff63, #00b3ff90, #00b3ff63);
}

.box-card.type-ground{
  background-image: linear-gradient(45deg, #ca8948, #a3672b, #ca8948);
}

.box-card.type-poison{
  background-image: linear-gradient(45deg, #af00ce, #710085, #af00ce);
}

.box-card.type-rock{
  background-image: linear-gradient(45deg, #7F7746, #E6DFA6, #7F7746);
}

