* {
  box-sizing: border-box;
}

@font-face {
  font-family: PokeSolid;
  src: url("../fonts/PokemonSolid.ttf");
}
html {
  margin: 0;
}

body {
  overflow-x: hidden;
  margin: 0;
}

h1 {
  margin: 0;
  font-family: PokeSolid;
  color: #076CAE;
  font-size: 26px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffffff;
}

header {
  margin: 0;
  width: 100vw;
  height: 100px;
  background-image: url("../tl.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px solid rgb(114, 114, 114);
  padding-left: 40px;
  padding-right: 40px;
}
header input {
  border: none;
  outline: none;
  padding: 4px 13px;
  border-radius: 7px;
  font-family: PokeSolid;
  font-size: 15px;
  width: 300px;
}
header button {
  background-color: #076CAE;
  color: #fff;
  border: none;
  outline: none;
  padding: 4px 13px;
  border-radius: 7px;
  font-family: PokeSolid;
  font-size: 15px;
  cursor: pointer;
}

@media (max-width: 630px) {
  header {
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: column;
  }
  header h1 {
    line-height: 1;
    margin-bottom: 12px;
  }
  header input {
    width: calc(100% - 80px);
    font-size: 12px;
  }
  header button {
    font-size: 12px;
    padding: 4px 8px;
  }
}
main h1 {
  -webkit-text-stroke-width: 0;
  text-align: center;
  margin-top: 20px;
}
main section.box-cards .regiao {
  position: relative;
  margin: 0;
  font-family: PokeSolid;
  color: #076CAE;
  font-size: 27px;
  margin-left: 10%;
  margin-top: 10px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000000;
  letter-spacing: 1px;
}
main section.box-cards .regiao::before {
  content: "";
  width: 130px;
  height: 5px;
  background-color: #076CAE;
  position: absolute;
  bottom: -7px;
  left: -10px;
}
main section.box-cards .container-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 23px;
  padding: 10px;
  padding-top: 30px;
}
main::before {
  background-image: url("../lt.png");
  background-repeat: repeat;
  background-size: 37%;
  background-attachment: fixed;
  background-position: 0 10%;
  opacity: 0.4;
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 140vh;
  z-index: -1;
}

.box-footer.oneType {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.box-footer.oneType .box-types {
  margin-top: 13px;
  margin-left: 6px;
}
.box-footer.oneType .box-types .type-text {
  text-align: center;
}
.box-footer.oneType .pesoAltura {
  margin-left: 6px;
}

.box-footer.twoType {
  display: flex;
  flex-direction: column;
}
.box-footer.twoType .box-types {
  margin-left: 15px;
  display: grid;
  grid-template-columns: 50px auto;
}
.box-footer.twoType .box-types .type-text {
  margin-left: 10px;
}
.box-footer.twoType .pesoAltura {
  text-align: center;
}

p {
  color: rgb(255, 255, 255);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(29, 29, 29);
  font-family: PokeSolid;
  font-size: 14px;
  letter-spacing: 3px;
}

.box_search_result {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5725490196);
  z-index: 10;
}
.box_search_result .box-card.searchMode {
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%) !important;
  z-index: 13;
}
.box_search_result .show_less {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100vh;
  width: 100vw;
}

.box-card {
  width: 100%;
  min-width: 250px;
  max-width: 270px;
  border-radius: 18px;
  padding: 19px 8px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.box-card .box-img {
  height: 130px;
  width: 130px;
  background-color: rgb(255, 238, 195);
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-card .box-img .poke-img {
  width: 100px;
}
.box-card h2 {
  text-align: center;
  color: rgb(255, 255, 255);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(29, 29, 29);
  font-family: PokeSolid;
  font-size: 16px;
  letter-spacing: 3px;
}
.box-card.type-normal {
  background-image: linear-gradient(45deg, #e4e4e4, #E4DDA4, #e4e4e4);
}
.box-card.type-normal:hover {
  transform: scale(1.02);
}
.box-card.type-normal::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 18px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg, #e4e4e4, #E4DDA4, #e4e4e4);
  transform: scale(1.05);
  filter: blur(8px);
  opacity: 0;
}
.box-card.type-normal:hover::before {
  opacity: 1;
}
.box-card.type-normal h2, .box-card.type-normal div {
  position: relative;
}
.box-card.type-fire {
  background-image: linear-gradient(45deg, #e61414, #fca420, #e61414);
}
.box-card.type-fire:hover {
  transform: scale(1.02);
}
.box-card.type-fire::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 18px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg, #e61414, #fca420, #e61414);
  transform: scale(1.05);
  filter: blur(8px);
  opacity: 0;
}
.box-card.type-fire:hover::before {
  opacity: 1;
}
.box-card.type-fire h2, .box-card.type-fire div {
  position: relative;
}
.box-card.type-dragon {
  background-image: linear-gradient(45deg, #6d549c, #393e9f, #6d549c);
}
.box-card.type-dragon:hover {
  transform: scale(1.02);
}
.box-card.type-dragon::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 18px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg, #6d549c, #393e9f, #6d549c);
  transform: scale(1.05);
  filter: blur(8px);
  opacity: 0;
}
.box-card.type-dragon:hover::before {
  opacity: 1;
}
.box-card.type-dragon h2, .box-card.type-dragon div {
  position: relative;
}
.box-card.type-bug {
  background-image: linear-gradient(45deg, #92A018, #76820c, #92A018);
}
.box-card.type-bug:hover {
  transform: scale(1.02);
}
.box-card.type-bug::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 18px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg, #92A018, #76820c, #92A018);
  transform: scale(1.05);
  filter: blur(8px);
  opacity: 0;
}
.box-card.type-bug:hover::before {
  opacity: 1;
}
.box-card.type-bug h2, .box-card.type-bug div {
  position: relative;
}
.box-card.type-steel {
  background-image: linear-gradient(45deg, #808080, #c1cdce, #808080);
}
.box-card.type-steel:hover {
  transform: scale(1.02);
}
.box-card.type-steel::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 18px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg, #808080, #c1cdce, #808080);
  transform: scale(1.05);
  filter: blur(8px);
  opacity: 0;
}
.box-card.type-steel:hover::before {
  opacity: 1;
}
.box-card.type-steel h2, .box-card.type-steel div {
  position: relative;
}
.box-card.type-dark {
  background-image: linear-gradient(45deg, #261f34, #000000, #261f34);
}
.box-card.type-dark:hover {
  transform: scale(1.02);
}
.box-card.type-dark::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 18px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg, #261f34, #000000, #261f34);
  transform: scale(1.05);
  filter: blur(8px);
  opacity: 0;
}
.box-card.type-dark:hover::before {
  opacity: 1;
}
.box-card.type-dark h2, .box-card.type-dark div {
  position: relative;
}
.box-card.type-water {
  background-image: linear-gradient(45deg, #9DE1FD, #00b3ff, #9DE1FD);
}
.box-card.type-water:hover {
  transform: scale(1.02);
}
.box-card.type-water::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 18px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg, #9DE1FD, #00b3ff, #9DE1FD);
  transform: scale(1.05);
  filter: blur(8px);
  opacity: 0;
}
.box-card.type-water:hover::before {
  opacity: 1;
}
.box-card.type-water h2, .box-card.type-water div {
  position: relative;
}
.box-card.type-psychic {
  background-image: linear-gradient(45deg, #FDE382, #EA8A8B, #FDE382);
}
.box-card.type-psychic:hover {
  transform: scale(1.02);
}
.box-card.type-psychic::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 18px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg, #FDE382, #EA8A8B, #FDE382);
  transform: scale(1.05);
  filter: blur(8px);
  opacity: 0;
}
.box-card.type-psychic:hover::before {
  opacity: 1;
}
.box-card.type-psychic h2, .box-card.type-psychic div {
  position: relative;
}
.box-card.type-ghost {
  background-image: linear-gradient(45deg, #B5ACC4, #323251, #B5ACC4);
}
.box-card.type-ghost:hover {
  transform: scale(1.02);
}
.box-card.type-ghost::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 18px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg, #B5ACC4, #323251, #B5ACC4);
  transform: scale(1.05);
  filter: blur(8px);
  opacity: 0;
}
.box-card.type-ghost:hover::before {
  opacity: 1;
}
.box-card.type-ghost h2, .box-card.type-ghost div {
  position: relative;
}
.box-card.type-electric {
  background-image: linear-gradient(45deg, #ffea00, #fff58b, #ffea00);
}
.box-card.type-electric:hover {
  transform: scale(1.02);
}
.box-card.type-electric::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 18px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg, #ffea00, #fff58b, #ffea00);
  transform: scale(1.05);
  filter: blur(8px);
  opacity: 0;
}
.box-card.type-electric:hover::before {
  opacity: 1;
}
.box-card.type-electric h2, .box-card.type-electric div {
  position: relative;
}
.box-card.type-fairy {
  background-image: linear-gradient(45deg, #E979FE, #DB6EE5, #E979FE);
}
.box-card.type-fairy:hover {
  transform: scale(1.02);
}
.box-card.type-fairy::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 18px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg, #E979FE, #DB6EE5, #E979FE);
  transform: scale(1.05);
  filter: blur(8px);
  opacity: 0;
}
.box-card.type-fairy:hover::before {
  opacity: 1;
}
.box-card.type-fairy h2, .box-card.type-fairy div {
  position: relative;
}
.box-card.type-fighting {
  background-image: linear-gradient(45deg, #c22750, #5e0e1f, #c22750);
}
.box-card.type-fighting:hover {
  transform: scale(1.02);
}
.box-card.type-fighting::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 18px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg, #c22750, #5e0e1f, #c22750);
  transform: scale(1.05);
  filter: blur(8px);
  opacity: 0;
}
.box-card.type-fighting:hover::before {
  opacity: 1;
}
.box-card.type-fighting h2, .box-card.type-fighting div {
  position: relative;
}
.box-card.type-flying {
  background-image: linear-gradient(45deg, #b181c1, #778adb, #b181c1);
}
.box-card.type-flying:hover {
  transform: scale(1.02);
}
.box-card.type-flying::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 18px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg, #b181c1, #778adb, #b181c1);
  transform: scale(1.05);
  filter: blur(8px);
  opacity: 0;
}
.box-card.type-flying:hover::before {
  opacity: 1;
}
.box-card.type-flying h2, .box-card.type-flying div {
  position: relative;
}
.box-card.type-grass {
  background-image: linear-gradient(45deg, #4ad300, #76e97d, #4ad300);
}
.box-card.type-grass:hover {
  transform: scale(1.02);
}
.box-card.type-grass::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 18px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg, #4ad300, #76e97d, #4ad300);
  transform: scale(1.05);
  filter: blur(8px);
  opacity: 0;
}
.box-card.type-grass:hover::before {
  opacity: 1;
}
.box-card.type-grass h2, .box-card.type-grass div {
  position: relative;
}
.box-card.type-ice {
  background-image: linear-gradient(45deg, #9CE2FD, #7DD2FD, #9CE2FD);
}
.box-card.type-ice:hover {
  transform: scale(1.02);
}
.box-card.type-ice::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 18px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg, #9CE2FD, #7DD2FD, #9CE2FD);
  transform: scale(1.05);
  filter: blur(8px);
  opacity: 0;
}
.box-card.type-ice:hover::before {
  opacity: 1;
}
.box-card.type-ice h2, .box-card.type-ice div {
  position: relative;
}
.box-card.type-ground {
  background-image: linear-gradient(45deg, #ca8948, #a3672b, #ca8948);
}
.box-card.type-ground:hover {
  transform: scale(1.02);
}
.box-card.type-ground::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 18px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg, #ca8948, #a3672b, #ca8948);
  transform: scale(1.05);
  filter: blur(8px);
  opacity: 0;
}
.box-card.type-ground:hover::before {
  opacity: 1;
}
.box-card.type-ground h2, .box-card.type-ground div {
  position: relative;
}
.box-card.type-poison {
  background-image: linear-gradient(45deg, #af00ce, #710085, #af00ce);
}
.box-card.type-poison:hover {
  transform: scale(1.02);
}
.box-card.type-poison::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 18px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg, #af00ce, #710085, #af00ce);
  transform: scale(1.05);
  filter: blur(8px);
  opacity: 0;
}
.box-card.type-poison:hover::before {
  opacity: 1;
}
.box-card.type-poison h2, .box-card.type-poison div {
  position: relative;
}
.box-card.type-rock {
  background-image: linear-gradient(45deg, #7F7746, #E6DFA6, #7F7746);
}
.box-card.type-rock:hover {
  transform: scale(1.02);
}
.box-card.type-rock::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 18px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg, #7F7746, #E6DFA6, #7F7746);
  transform: scale(1.05);
  filter: blur(8px);
  opacity: 0;
}
.box-card.type-rock:hover::before {
  opacity: 1;
}
.box-card.type-rock h2, .box-card.type-rock div {
  position: relative;
}

@media (max-width: 750px) {
  main section.box-cards .container-grid {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-gap: 12px;
  }
  .box-card {
    min-width: 180px;
    max-width: 230px;
    padding: 10px 3px;
  }
  .box-card .box-footer.oneType {
    flex-direction: column;
    align-items: none;
  }
  .box-card .box-footer.oneType .box-types {
    width: 100%;
    margin-left: 10px;
    display: grid;
    justify-content: flex-start;
    grid-template-columns: 50px auto;
  }
  .box-card .box-footer.oneType .box-types .type-text {
    margin-left: 10px;
  }
  .box-card .box-footer.twoType .box-types {
    margin-left: 10px;
  }
  .box-card div.icon {
    width: 32px;
    height: 32px;
  }
  .box-card h2 {
    font-size: 13px;
  }
  .box-card p {
    font-size: 12px;
  }
  .box-card .box-img {
    width: 90px;
    height: 90px;
  }
  .box-card .box-img .poke-img {
    width: 60px;
  }
}
@media (max-width: 500px) {
  main section.box-cards .container-grid {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    grid-gap: 9px;
  }
  .box-card {
    min-width: 140px;
    max-width: 180px;
    padding: 5px 3px;
  }
  .box-card h2 {
    font-size: 10px;
    letter-spacing: 1px;
  }
  .box-card p {
    font-size: 10px;
    letter-spacing: 1px;
  }
  .box-card div.icon {
    width: 25px;
    height: 25px;
  }
  .box-card .box-img {
    width: 50px;
    height: 50px;
  }
  .box-card .box-img .poke-img {
    width: 35px;
  }
}/*# sourceMappingURL=main.css.map */