*{
  box-sizing: border-box;
}

@font-face {
  font-family: PokeSolid;
  src: url('../fonts/PokemonSolid.ttf');
}


html{
  margin: 0;
}

body{
  overflow-x: hidden;
  margin: 0;
}

h1{
  margin: 0;
  font-family: PokeSolid;
  color: #076CAE;
  font-size: 26px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffffff;
}

header{
  margin: 0;
  width: 100vw;
  height: 100px;
  background-image: url('../tl.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px solid rgb(114, 114, 114);
  padding-left: 40px;
  padding-right: 40px;

  input{
    border: none;
    outline: none;
    padding: 4px 13px;
    border-radius: 7px;
    font-family: PokeSolid;
    font-size: 15px;
    width: 300px;
  }
  button{
    background-color: #076CAE;
    color: #fff;
    border: none;
    outline: none;
    padding: 4px 13px;
    border-radius: 7px;
    font-family: PokeSolid;
    font-size: 15px;
    cursor: pointer;
  }
}

@media(max-width:630px){
  header{
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: column;

    h1{
      line-height: 1;
      margin-bottom: 12px;
    }

    input{
      width: calc(100vw - 130px);
      font-size: 12px;
      padding: 4px 8px;
    }

    button{
      font-size: 12px;
      padding: 4px 8px;
    }
  }
}

@media(max-width: 400px){
  header{
    input{
      width: calc(100vw - 100px);
     font-size: 12px;
    }

    input::placeholder{
     font-size: 10px;
   }
  }
}
main{
  h1{
    -webkit-text-stroke-width: 0;
    text-align: center;
    margin-top: 20px;
  }

  section.box-cards{
    .regiao{
      position: relative;
      margin: 0;
      font-family: PokeSolid;
      color: #076CAE;
      font-size: 27px;
      margin-left: 10%;
      margin-top: 10px;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #000000;
      letter-spacing: 1px;

      &::before{
        content: '';
        width: 130px;
        height: 5px;
        background-color: #076CAE;
        position: absolute;
        bottom: -7px;
        left: -10px
      }
    }

    .container-grid{
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      grid-gap: 23px;
      padding: 10px;
      padding-top: 30px;

    }
  }

  &::before{
    background-image: url('../lt.png');
    background-repeat: repeat;
    background-size: 37%;
    background-attachment: fixed;
    background-position: 0 10%;
    opacity: 0.4;
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 140vh;
    z-index: -1;
  }
}

.box-footer.oneType{
  display: flex;
  justify-content: space-around;
  align-items: center;

  .box-types{
    margin-top: 13px;
    margin-left: 6px;

    .type-text{
      text-align: center;
    }
  }

  .pesoAltura{
    margin-left: 6px;
  }
}

.box-footer.twoType{
  display: flex;
  flex-direction: column;
  .box-types{
    margin-left: 15px;
    display: grid;
    grid-template-columns: 50px auto;
    .type-text{
      margin-left: 10px;
    }
  }
  .pesoAltura{
    text-align: center;
  }
}

p{
  color: rgb(255, 255, 255);
  -webkit-text-stroke-width: 0.6px;
  -webkit-text-stroke-color: rgb(29, 29, 29);
  font-family: PokeSolid;
  font-size: 14px;
  letter-spacing: 3px;
}

.box_search_result{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #00000092;
  z-index: 10;

  .box-card.searchMode{
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%) !important;
    z-index: 13;
  }

  .show_less{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100vh;
    width: 100vw;
  }

}

// CARDS PADRAO
.box-card{
  width: 100%;
  min-width: 250px;
  max-width: 270px;
  border-radius: 18px;
  padding: 19px 8px;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  .box-img{
    height: 130px;
    width: 130px;
    background-color: rgb(255, 238, 195);
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .poke-img{
     width: 100px;
    }
  }
  h2{
    text-align: center;
    color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(29, 29, 29);
    font-family: PokeSolid;
    font-size: 16px;
    letter-spacing: 3px;
  }
  // FUNCAO PARA EDITAR OS CARDS
  @mixin backgroundLinear($color1, $color2) {
    background-image: linear-gradient(45deg, $color1, $color2, $color1);

    &:hover{
      transform: scale(1.02);
    }
    &::before{  
      content: ''; 
      position: absolute;
      bottom: 0;
      left: 0;
      border-radius: 18px;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(45deg, $color1, $color2, $color1);
      transform: scale(1.05) ;
      filter: blur(8px);
      opacity: 0;
    }

    &:hover::before{
      opacity: 1;
    }

    h2, div{
      position: relative;;
    }
  }
  // FUNDO CARDS
  &{
    &.type-normal{
      @include backgroundLinear( #e4e4e4, #E4DDA4)
    }
  
    &.type-fire{
      @include backgroundLinear( #e61414, #fca420)
    }
  
    &.type-dragon{
      @include backgroundLinear( #6d549c, #393e9f)
    }
  
    &.type-bug{
      @include backgroundLinear( #92A018, #76820c)
    }
  
    &.type-steel{
      @include backgroundLinear( #808080, #c1cdce)
    }
  
    &.type-dark{
      @include backgroundLinear( #261f34, #000000)
    }
  
    &.type-water{
      @include backgroundLinear( #9DE1FD, #00b3ff)
    }
    
    &.type-psychic{
      @include backgroundLinear( #FDE382, #EA8A8B)
    }
  
    &.type-ghost{
      @include backgroundLinear( #B5ACC4, #323251)
    }
  
    &.type-electric{
      @include backgroundLinear( #ffea00, #fff58b)
    }
    
    &.type-fairy{
      @include backgroundLinear( #E979FE, #DB6EE5)
    }
  
    &.type-fighting{
      @include backgroundLinear( #c22750, #5e0e1f)
    }
  
    &.type-flying{
      @include backgroundLinear( #b181c1, #778adb)
    }
    
    &.type-grass{
      @include backgroundLinear( #4ad300, #76e97d)
    }
  
    &.type-ice{
      @include backgroundLinear( #9CE2FD, #7DD2FD)
    }
  
    &.type-ground{
      @include backgroundLinear( #ca8948, #a3672b)
    }
    
    &.type-poison{
      @include backgroundLinear( #af00ce, #710085)
    }
  
    &.type-rock{
      @include backgroundLinear( #7F7746, #E6DFA6)
    }
  }
}

@media(max-width: 750px){
  main section.box-cards .container-grid{
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-gap: 12px;
  }

  .box-card{
    min-width: 180px;
    max-width: 230px;
    padding: 10px 3px;

    .box-footer.oneType{
      flex-direction: column;
      align-items: none;
      .box-types{
        width: 100%;
        margin-left: 10px;
        display: grid;
        justify-content: flex-start;
        grid-template-columns: 50px auto;
        .type-text{
          margin-left: 10px;
        }
      }
    }

    .box-footer.twoType{
      .box-types{
        margin-left: 10px;
      }
    }


    div.icon{
      width: 32px;
      height: 32px;
    }

    h2{
      font-size: 13px;
    }

    p{
      font-size: 12px;
    }

    .box-img{
      width: 90px;
      height: 90px;

      .poke-img{
        width: 60px;
      }
    }
  }
}

@media(max-width: 500px){
  main section.box-cards .container-grid{
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    grid-gap: 9px;
  }

  .box-card{
    min-width: 140px;
    max-width: 180px;
    padding: 5px 3px;

    h2{
      font-size: 10px;
      letter-spacing: 1px;
    }

    p{
      font-size: 10px;
      letter-spacing: 1px;
    }

    div.icon{
      width: 25px;
      height: 25px;
    }

    .box-img{
      width: 50px;
      height: 50px;

      .poke-img{
        width: 35px;
      }
    }
  }
}